.git
.github
beta-src/node_modules
node_modules
vendor
cache
mapstore
datc/maps
errorlog
errorlogs
orderlog
orderlogs
config.php
*.md
!README.md
doc/*.png
doc/*.pdf
doc/*.xcf
doc/*.pub
gamemaster-entrypoint.txt
dump.rdb
